baalajimaestro.ooo {
    root /var/www/baalajimaestro.ooo/public
    hugo /var/www/baalajimaestro.ooo /admin
    tls baalajimaestro@computer4u.com
    git https://github.com/baalajimaestro/baalajimaestro.ooo /var/www/baalajimaestro.ooo 
        branch src
        then hugo
        interval 600
    }
    gzip
    errors {
        404 404.html
    }
}
