@keyframes animatedTextGradient {
  to {
    background-position: 200% center;
  }
}

span.glow {
  background: radial-gradient(
    circle at 100%,
    #660000,
    #992222,
    #660000
  );
  font-weight: 600;
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedTextGradient 2.2s linear infinite;
}

.pink {
  color: #660000;
}
